<%- include('header.ejs') %>
    <h3>Chapters</h3>

    <% var viewPagesRendered=false; %>

        <% for (var i=0; i < chapters.length; i++) { %>
            <h4>
                <%= chapters[i].title %>
            </h4>

            <a href="/educators/courses/<%= courseId %>/chapters/<%= chapters[i].id %>/pages"
                class="btn btn-primary">View Pages</a>

            <form action="/educators/courses/<%= courseId %>/chapters/<%= chapters[i].id %>/pages/create" method="GET">
                <button>Add Page</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
                        <p>
                            <%= chapters[i].description %>
                        </p>
                        <% } %>